.mat-toolbar {
  background: rgb(33, 38, 40);
  color: #fff;
}

.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

.mat-raised-button {
  margin: 0px 10px;
}

.name-and-logo {
  padding: 15px;
  display: flex;
  margin-top: auto;
  flex-direction: row;
  justify-content: center;
}
.name-and-logo img {
  height: 30px;
}
