<div>
  <mat-toolbar class="navbar">
    <div class="name-and-logo" (click)="goTo('blood-center-view')">
      <p>BloodBank</p>
      <img src="../../../../assets/images/favicon.ico" alt="gas" />
    </div>
    <div>
      <button mat-raised-button (click)="goTo('staff-profile')">
        Staff Profile
      </button>
      <button mat-raised-button (click)="goTo('blood-center')">
        Blood Center Registration
      </button>
      <button mat-raised-button (click)="goTo('register-blood-donor')">
        Register blood donor
      </button>
      <button mat-raised-button (click)="goTo('questionnaire')">
        Questionnaire
      </button>

      <button mat-raised-button (click)="goTo('staff-registration')">
        Staff Registration
      </button>

      <button mat-raised-button (click)="goTo('staff/assign-blood-center')">
        Assign Blood Center
      </button>

      <button mat-raised-button (click)="goTo('blood-donor-info')">
        Donor Profile
      </button>
      

    </div>
  </mat-toolbar>
</div>
