<app-navbar></app-navbar>
<div class="grid">
  <h1>Personal info</h1>
  <form>
    <table>
      <tr>
        <td>Name:</td>
        <td>
          <input
            type="text"
            name="name"
            placeholder="TEMP NAME"
            disabled="isEnabled"
          />
        </td>
      </tr>
      <tr>
        <td>Surname:</td>
        <td>
          <input
            type="text"
            name="surname"
            placeholder="TEMP SURNAME"
            disabled="isEnabled"
          />
        </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <input
            type="text"
            name="email"
            placeholder="TEMP EMAIL"
            disabled="isEnabled"
          />
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>
          <input
            type="text"
            name="Phone"
            placeholder="TEMP PHONE"
            disabled="isEnabled"
          />
        </td>
      </tr>
      <tr>
        <td colspan="2"><button mat-raised-button>Change</button></td>
      </tr>
    </table>
  </form>
  <h1>Blood center info</h1>
  <form>
    <table>
      <tr>
        <td>Name:</td>
        <td>
          <input
            type="text"
            name="CenterName"
            placeholder="TEMP CENTER NAME"
            disabled="isEnabled"
          />
        </td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>
          <input
            type="text"
            name="CenterAddress"
            placeholder="TEMP CENTER ADDRESS"
            disabled="isEnabled"
          />
        </td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>
          <input
            type="text"
            name="CenterDescription"
            placeholder="TEMP CENTER DESCRIPTION"
            disabled="isEnabled"
          />
        </td>
      </tr>
      <tr>
        <td>Score:</td>
        <td>
          <input
            type="text"
            name="CenterScore"
            placeholder="TEMP CENTER SCORE"
            disabled="isEnabled"
          />
        </td>
      </tr>
      <tr>
        <td>Appointment reservation slots:</td>
        <td>
          <input
            type="text"
            name="CenterSlots"
            placeholder="TEMP CENTER SLOTS"
            disabled="isEnabled"
          />
        </td>
      </tr>
      <tr>
        <td>Administrators</td>
        <td>
          <input
            type="text"
            name="CenterAdmins"
            placeholder="TEMP CENTER ADMINS"
            disabled="isEnabled"
          />
        </td>
      </tr>
      <tr>
        <td colspan="2"><button mat-raised-button>Change</button></td>
      </tr>
    </table>
  </form>
</div>
