
<div class="container">

  <div class="lists">
    <mat-selection-list  [multiple]="false">
      <mat-list-option (click)="selectCenter(i)" value="{{bloodCenter}}"
        *ngFor="let bloodCenter of centersNames; let i = index">
        {{bloodCenter}}
      </mat-list-option>
    </mat-selection-list>
    
    <mat-selection-list [multiple]="false">
      <mat-list-option (click)="selectStaff(i)" value="{{staff}}" *ngFor="let staff of staffNames; let i = index">
        {{staff}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="buttons">
    <button [disabled]="indexesInvalid" (click)="assign()" mat-raised-button class="btn">Assign</button>
  </div>
</div>