.mat-form-field {
  background-color: beige;
  margin: 25px;
}

.dugmeOk {
  margin: 2%;
}

table {
  margin: auto;
}

.appointments {
  background-color: white;
  border: 2px solid black;
  height: fit-content;
}
