<mat-stepper linear #stepper>
  <mat-step [stepControl]="freeSlotsForm" [editable]="isEditable">
    <form [formGroup]="freeSlotsForm">
      <ng-template matStepLabel>Choose date</ng-template>
      <input formControlName="date" type="date" id="start">
      <mat-form-field class="example-full-width">
        <mat-label>Duration</mat-label>
        <input matInput type="number" formControlName="duration" placeholder="duration in minutes" value="15">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Staff</mat-label>
        <mat-select formControlName="selectedStaff" multiple #staffs>
          <mat-option *ngFor="let staff of staffList" [value]="staff.id">{{staff.name}} {{staff.surname}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="getFreeSlots()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="timeRange" [editable]="isEditable">
    <form [formGroup]="timeRange">
      <mat-selection-list #shoes [multiple]="false" formControlName="selectedTimeRange">
        <mat-list-option *ngFor="let slot of freeSlots" [value]="slot">
          {{slot.startTime}} - {{slot.endTime}}
        </mat-list-option>
      </mat-selection-list>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="predefineAppointment()" [disabled]="!shoes.selectedOptions.hasValue()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious (click)="getFreeSlots()">Back</button>
      <button mat-button (click)="stepper.reset()">Predefine new</button>
    </div>
  </mat-step>
</mat-stepper>
