.grid {
  width: 90%;
  margin: auto;
}

table {
  text-align: left;
  color: white;
}

.tableInfo {
  width: 80%;
  height: 80%;
}

.tableText {
  font-size: large;
}

.rowInfo {
  width: 60%;
}

.header {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}

.noCenter {
  font-size: xx-large;
  font-weight: bolder;
  color: red;
}

.fields {
  font-weight: bold;
}

.importantText {
  font-size: x-large;
  font-weight: bold;
  padding: 1%;
}

mat-grid-tile {
  background-color: rgb(33, 38, 40);
}

.confirm {
  margin-right: 6%;
  font-size: x-large;
}

button {
  font-size: x-large;
}

.form {
  width: 100%;
  margin: auto;
}

.formCenter {
  width: 80%;
  margin: auto;
}

input {
  width: 100%;
  font-size: large;
  color: white;
}

.bloodGroupInput {
  width: 15%;
}

.personalInfoFields {
  width: 40%;
}

mat-form-field {
  padding: 2%;
}

.mat-raised-button {
  background-color: rgb(74, 74, 74);
  color: white;
}

.mat-form-field-appearance-outline.mat-form-field-disabled.mat-form-field-label {
  color: rgba(181, 181, 181, 0.6) !important;
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled
  .mat-form-field-infix::after,
.mat-input-element:disabled {
  color: rgba(181, 181, 181, 0.6) !important;
}

::ng-deep .mat-form-field-label {
  color: rgba(181, 181, 181, 0.6) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(181, 181, 181, 0.6) !important;
}

h3 {
  color: white;
}

.changePassword {
  margin-top: 10%;
}
