<div>
  <form [formGroup]="changePasswordForm" *ngIf="!isPreventChangePassword">
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="new password"
        formControlName="newPassword"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="confirm password"
        formControlName="confirmPassword"
      />
      <mat-error>
        <span><!--*ngIf="changePasswordForm.errors?.noMatch"--></span>
      </mat-error>
    </mat-form-field>
  </form>
  <div *ngIf="!isPreventChangePassword">
    <span>
      <button
        class="confirm"
        [disabled]="changePasswordForm.invalid"
        mat-raised-button
        (click)="confirmChangePassword($event)"
      >
        Confirm
      </button>
    </span>
    <span>
      <button
        mat-raised-button
        (click)="cancelChangePassword($event)"
        color="warn"
      >
        Cancel
      </button>
    </span>
  </div>
  <div *ngIf="isPreventChangePassword" class="changePassword">
    <button mat-raised-button (click)="enableChangePassword($event)">
      Change Password
    </button>
  </div>
</div>
